# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import Google API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [2]:
# Set the file path to import the WeatherPy_database.csv file
file_path = "../Weather_Database/WeatherPy_database.csv"

# Load the CSV file into a Pandas DataFrame
city_data_df = pd.read_csv(file_path)

# Display sample data
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Mehamn,NO,71.0357,27.8492,40.95,93,75,4.61,light rain
1,1,Borba,BR,-4.3878,-59.5939,84.92,57,71,1.03,broken clouds
2,2,Hithadhoo,MV,-0.6000,73.0833,81.82,70,100,15.17,overcast clouds
3,3,Gizo,SB,-8.1030,156.8419,82.76,74,100,4.97,overcast clouds
4,4,San Cristobal,VE,7.7669,-72.2250,82.58,61,18,4.21,few clouds

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [3]:
# Prompt the user to enter the minimum temperature criteria
min_temp = float(input("What is the minimum temperature you would like for your trip? "))

# Prompt the user to enter the maximum temperature criteria
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [4]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Borba,BR,-4.3878,-59.5939,84.92,57,71,1.03,broken clouds
2,2,Hithadhoo,MV,-0.6000,73.0833,81.82,70,100,15.17,overcast clouds
3,3,Gizo,SB,-8.1030,156.8419,82.76,74,100,4.97,overcast clouds
4,4,San Cristobal,VE,7.7669,-72.2250,82.58,61,18,4.21,few clouds
14,14,Vaini,TO,-21.2000,-175.2000,78.96,83,75,13.80,broken clouds
22,22,Hirara,JP,24.8000,125.2833,75.47,88,20,3.44,few clouds
23,23,Coahuayana,MX,18.7333,-103.6833,79.88,86,100,3.87,overcast clouds
31,31,Gamba,GA,-2.6500,10.0000,76.24,85,82,5.75,broken clouds
37,37,Vanimo,PG,-2.6741,141.3028,78.21,89,76,6.96,broken clouds
39,39,Rayachoti,IN,14.0500,78.7500,75.52,72,100,6.51,overcast clouds

In [5]:
preferred_cities_df.isna().count()

City_ID                192
City                   192
Country                192
Lat                    192
Lng                    192
Max Temp               192
Humidity               192
Cloudiness             192
Wind Speed             192
Current Description    192
dtype: int64

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [7]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_travel_cities = preferred_cities_df.dropna()

# Display sample data
clean_travel_cities.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Borba,BR,-4.3878,-59.5939,84.92,57,71,1.03,broken clouds
2,2,Hithadhoo,MV,-0.6000,73.0833,81.82,70,100,15.17,overcast clouds
3,3,Gizo,SB,-8.1030,156.8419,82.76,74,100,4.97,overcast clouds
4,4,San Cristobal,VE,7.7669,-72.2250,82.58,61,18,4.21,few clouds
14,14,Vaini,TO,-21.2000,-175.2000,78.96,83,75,13.80,broken clouds
22,22,Hirara,JP,24.8000,125.2833,75.47,88,20,3.44,few clouds
23,23,Coahuayana,MX,18.7333,-103.6833,79.88,86,100,3.87,overcast clouds
31,31,Gamba,GA,-2.6500,10.0000,76.24,85,82,5.75,broken clouds
37,37,Vanimo,PG,-2.6741,141.3028,78.21,89,76,6.96,broken clouds
39,39,Rayachoti,IN,14.0500,78.7500,75.52,72,100,6.51,overcast clouds

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [13]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# Display sample data
hotel_df.head(10)

             City Country  Max Temp Current Description      Lat       Lng
1           Borba      BR     84.92       broken clouds  -4.3878  -59.5939
2       Hithadhoo      MV     81.82     overcast clouds  -0.6000   73.0833
3            Gizo      SB     82.76     overcast clouds  -8.1030  156.8419
4   San Cristobal      VE     82.58          few clouds   7.7669  -72.2250
14          Vaini      TO     78.96       broken clouds -21.2000 -175.2000
22         Hirara      JP     75.47          few clouds  24.8000  125.2833
23     Coahuayana      MX     79.88     overcast clouds  18.7333 -103.6833
31          Gamba      GA     76.24       broken clouds  -2.6500   10.0000
37         Vanimo      PG     78.21       broken clouds  -2.6741  141.3028
39      Rayachoti      IN     75.52     overcast clouds  14.0500   78.7500

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [14]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df["Hotel Name"] = ""

# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Borba,BR,84.92,broken clouds,-4.3878,-59.5939,
2,Hithadhoo,MV,81.82,overcast clouds,-0.6000,73.0833,
3,Gizo,SB,82.76,overcast clouds,-8.1030,156.8419,
4,San Cristobal,VE,82.58,few clouds,7.7669,-72.2250,
14,Vaini,TO,78.96,broken clouds,-21.2000,-175.2000,
22,Hirara,JP,75.47,few clouds,24.8000,125.2833,
23,Coahuayana,MX,79.88,overcast clouds,18.7333,-103.6833,
31,Gamba,GA,76.24,broken clouds,-2.6500,10.0000,
37,Vanimo,PG,78.21,broken clouds,-2.6741,141.3028,
39,Rayachoti,IN,75.52,overcast clouds,14.0500,78.7500,

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [15]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [16]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(base_url, params=params).json()
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [18]:
# Display sample data
hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Borba,BR,84.92,broken clouds,-4.3878,-59.5939,Hotel da Amazônia
2,Hithadhoo,MV,81.82,overcast clouds,-0.6000,73.0833,Scoop Guest House
3,Gizo,SB,82.76,overcast clouds,-8.1030,156.8419,Imagination Island
4,San Cristobal,VE,82.58,few clouds,7.7669,-72.2250,Pirineos
14,Vaini,TO,78.96,broken clouds,-21.2000,-175.2000,Keleti Beach Resort

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [35]:
# Drop the rows where there is no Hotel Name.
import numpy as np
hotel_df.replace('', np.nan, inplace=True)
hotel_df.isna().count()
clean_hotel_df = hotel_df.dropna().copy()

# Display sample data
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Borba,BR,84.92,broken clouds,-4.3878,-59.5939,Hotel da Amazônia
2,Hithadhoo,MV,81.82,overcast clouds,-0.6000,73.0833,Scoop Guest House
3,Gizo,SB,82.76,overcast clouds,-8.1030,156.8419,Imagination Island
4,San Cristobal,VE,82.58,few clouds,7.7669,-72.2250,Pirineos
14,Vaini,TO,78.96,broken clouds,-21.2000,-175.2000,Keleti Beach Resort
...,...,...,...,...,...,...,...
661,Redmond,US,84.87,few clouds,47.6740,-122.1215,Seattle Marriott Redmond
663,Villamontes,BO,77.49,broken clouds,-21.2500,-63.5000,Hotel Raldes
670,Oistins,BB,82.49,few clouds,13.0667,-59.5333,Butterfly Beach Hotel
673,Manaus,BR,75.70,broken clouds,-3.1019,-60.0250,Manaus Hotéis Millennium
675,Bandar-E Lengeh,IR,85.87,clear sky,26.5579,54.8807,کافی نت پارس

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [ ]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [36]:
# Set the file name.
output_data_file = "WeatherPy_vacation.csv"

# Create a CSV file by using the clean_hotel_df DataFrame
clean_hotel_df.to_csv(output_data_file)

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [37]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [38]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

['\n<dl>\n<dt>Hotel Name</dt><dd>Hotel da Amazônia</dd>\n<dt>City</dt><dd>Borba</dd>\n<dt>Country</dt><dd>BR</dd>\n<dt>Current Weather</dt><dd>broken clouds and 84.92 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Scoop Guest House</dd>\n<dt>City</dt><dd>Hithadhoo</dd>\n<dt>Country</dt><dd>MV</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 81.82 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Imagination Island</dd>\n<dt>City</dt><dd>Gizo</dd>\n<dt>Country</dt><dd>SB</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 82.76 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Pirineos</dd>\n<dt>City</dt><dd>San Cristobal</dd>\n<dt>Country</dt><dd>VE</dd>\n<dt>Current Weather</dt><dd>few clouds and 82.58 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Keleti Beach Resort</dd>\n<dt>City</dt><dd>Vaini</dd>\n<dt>Country</dt><dd>TO</dd>\n<dt>Current Weather</dt><dd>broken clouds and 78.96 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel Atoll Emerald Miyakojima</dd>\n<dt>City</dt><dd>Hirara</dd>\n<dt>Country</dt><dd>JP</dd>\n<dt>Current Weather</dt><dd>few clouds and 75.47 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>El rranchito michuacan de ocampos</dd>\n<dt>City</dt><dd>Coahuayana</dd>\n<dt>Country</dt><dd>MX</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 79.88 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Vahmoneh Lodge Vanimo</dd>\n<dt>City</dt><dd>Vanimo</dd>\n<dt>Country</dt><dd>PG</dd>\n<dt>Current Weather</dt><dd>broken clouds and 78.21 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Swetha lodge</dd>\n<dt>City</dt><dd>Rayachoti</dd>\n<dt>Country</dt><dd>IN</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 75.52 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Fakhamat Al Orjoana Apartment</dd>\n<dt>City</dt><dd>Sakakah</dd>\n<dt>Country</dt><dd>SA</dd>\n<dt>Current Weather</dt><dd>clear sky and 80.17 °F</dd>\n</dl>\n']

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [54]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

        Lat       Lng
1   -4.3878  -59.5939
2   -0.6000   73.0833
3   -8.1030  156.8419
4    7.7669  -72.2250
14 -21.2000 -175.2000
22  24.8000  125.2833
23  18.7333 -103.6833
37  -2.6741  141.3028
39  14.0500   78.7500
40  29.9697   40.2064

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [61]:
# Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Create a figure to add the Google map as a layer
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)

# Display the figure containing the map
fig

Figure(layout=FigureLayout(height='420px'))